/* Apply smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Navigation Bar Styles */
.navbar {
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: #00796b; /* Change color when scrolling */
}

/* Home Section Styles */
#home {
    background-color: #007bff; /* Blue background color */
    color: #ffffff; /* White text color */
    text-align: center; /* Center the text */
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* About Section Styles */
#about {
    background-color: #ffffff; /* White background color */
    color: #000000; /* Black text color */
}

/* Projects Section Styles */
#projects {
    background-color: #343a40; /* Dark Gray background color */
    color: #ffffff; /* White text color */
}

/* Contact Section Styles */
#contact {
    background-color: #f8f9fa; /* Light Gray background color */
    color: #000000; /* Black text color */
}

/* Project Box Styles */
.project-box {
    background: #f8f9fa;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.project-box:hover {
    transform: scale(1.05);
}

.project-box h3 {
    margin-top: 0;
}

/* Footer Styles */
footer {
    background-color: #00796b;
    color: #fff;
}

/* General Styles */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

section {
    padding: 60px 0;
}
